/01-CodigoFuente/main/Spooler/main/.vs/
/01-CodigoFuente/main/Spooler/main/.vs/main/v17/.suo
/01-CodigoFuente/main/Spooler/main/.vs/main/v17/DocumentLayout.json
/01-CodigoFuente/main/Spooler/main/.vs/main/DesignTimeBuild/.dtbcache.v2
/01-CodigoFuente/main/Spooler/main/.vs/ProjectEvaluation/main.strings.v8.bin
/01-CodigoFuente/main/Spooler/main/main/bin/Debug/
/01-CodigoFuente/main/Spooler/main/main/bin/Debug/net8.0/serverreports.deps.json
/01-CodigoFuente/main/Spooler/main/main/bin/Release/
/01-CodigoFuente/main/Spooler/main/main/obj/
