/01-CodigoFuente/main/Spooler/main/.vs/
/01-CodigoFuente/main/Spooler/main/.vs/main/v17/.suo
/01-CodigoFuente/main/Spooler/main/.vs/main/v17/DocumentLayout.json
/01-CodigoFuente/main/Spooler/main/.vs/main/DesignTimeBuild/.dtbcache.v2
/01-CodigoFuente/main/Spooler/main/.vs/ProjectEvaluation/main.strings.v8.bin
/01-CodigoFuente/main/Spooler/main/main/bin/Debug/
/01-CodigoFuente/main/Spooler/main/main/bin/Debug/net8.0/serverreports.deps.json
/01-CodigoFuente/main/Spooler/main/main/bin/Release/
/01-CodigoFuente/main/Spooler/main/main/obj/
/00-Documentacion/~$Spooler-Distribucion-Plan_Trabajo.xlsx
/01-CodigoFuente/main/Spooler/main/main/bin/Debug/net8.0/serverreports.exe
/01-CodigoFuente/main/Spooler/main/.vs/main/DesignTimeBuild/.dtbcache.v2
/01-CodigoFuente/main/Spooler/main/.vs/main/v17/.futdcache.v2
/01-CodigoFuente/main/Spooler/main/.vs/main/v17/.suo
/01-CodigoFuente/main/Spooler/main/.vs/main/v17/DocumentLayout.json
/01-CodigoFuente/main/Spooler/main/main/bin/Debug/net8.0/serverreports.dll
/01-CodigoFuente/main/Spooler/main/main/bin/Debug/net8.0/serverreports.exe
/01-CodigoFuente/main/Spooler/main/main/bin/Debug/net8.0/serverreports.pdb
/01-CodigoFuente/main/Spooler/main/main/obj/Debug/net8.0/apphost.exe
/01-CodigoFuente/main/Spooler/main/main/obj/Debug/net8.0/ref/serverreports.dll
/01-CodigoFuente/main/Spooler/main/main/obj/Debug/net8.0/refint/serverreports.dll
/01-CodigoFuente/main/Spooler/main/main/obj/Debug/net8.0/serverreports.AssemblyInfo.cs
/01-CodigoFuente/main/Spooler/main/main/obj/Debug/net8.0/serverreports.AssemblyInfoInputs.cache
/01-CodigoFuente/main/Spooler/main/main/obj/Debug/net8.0/serverreports.dll
/01-CodigoFuente/main/Spooler/main/main/obj/Debug/net8.0/serverreports.pdb
/01-CodigoFuente/main/Spooler/main/main/obj/Debug/net8.0/serverreports.sourcelink.json
/01-CodigoFuente/main/Spooler/main/.vs/main/DesignTimeBuild/.dtbcache.v2
/01-CodigoFuente/main/Spooler/main/.vs/main/v17/.futdcache.v2
/01-CodigoFuente/main/Spooler/main/.vs/main/v17/.suo
/01-CodigoFuente/main/Spooler/main/.vs/main/v17/DocumentLayout.json
/01-CodigoFuente/main/Spooler/main/main/bin/Debug/net8.0/serverreports.dll
/01-CodigoFuente/main/Spooler/main/main/bin/Debug/net8.0/serverreports.exe
/01-CodigoFuente/main/Spooler/main/main/bin/Debug/net8.0/serverreports.pdb
/01-CodigoFuente/main/Spooler/main/main/obj/Debug/net8.0/apphost.exe
/01-CodigoFuente/main/Spooler/main/main/obj/Debug/net8.0/ref/serverreports.dll
/01-CodigoFuente/main/Spooler/main/main/obj/Debug/net8.0/refint/serverreports.dll
/01-CodigoFuente/main/Spooler/main/main/obj/Debug/net8.0/serverreports.AssemblyInfo.cs
/01-CodigoFuente/main/Spooler/main/main/obj/Debug/net8.0/serverreports.AssemblyInfoInputs.cache
/01-CodigoFuente/main/Spooler/main/main/obj/Debug/net8.0/serverreports.dll
/01-CodigoFuente/main/Spooler/main/main/obj/Debug/net8.0/serverreports.pdb
/01-CodigoFuente/main/Spooler/main/main/obj/Debug/net8.0/serverreports.sourcelink.json
